// ---=== Arrow bottom ===---
.itt_arrow-top {
  position: fixed;
  bottom: -50px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99999;
  transition: 1s;
  color: $arrow_color;
  //background-color: $arrow_bg;
  //border-radius: 10px;
}