// ---=== Buttons ===---
.itt_btn-wrapper {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
}

.itt_btn {
  margin-top: 10px;
  padding: 11px 28px;
}

$status-colors: (
      primary: $primary-color,
      success: $success,
      info: $info,
      warning: $warning,
      danger: $danger
);

.itt_btn {
  @each $status, $color in $status-colors {
    &-#{$status} {
      text-decoration: none;
      cursor: pointer;
      color: $btn_default;
      background-color: $status;

      &:hover {
        color: $btn_hover;
        box-shadow: 1px 1px 5px 0 rgba(60,65,76,0.7);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.itt_btn-default {
  border-bottom: 1px solid $text-color;
  background-color: transparent;
  cursor: pointer;

  a {
    color: $text-color;

    &:hover {
      padding: 10px;
      background-color: $btn_default;
      color: #fff;
    }
  }

  &:hover {
    border-bottom: 1px solid $btn_default;
  }
}

.itt_btn-reviews {
  border: none;
  border-bottom: 1px solid $btn_default;
  background-color: transparent;
  padding: 0;
  color: $btn_default;
  cursor: pointer;

  &:hover {
    padding: 10px;
    background-color: $btn_default;
    color: #fff;
  }

}