// ---=== Pagination ===---
.itt_pagination-text {
  color: $text-color;
}

ul.itt_pagination {
  display: inline-flex;
  align-items: center;
  margin: 0;

  li.itt_pagination-item {
    margin: 0 10px;
    text-align: center;
    line-height: 22px;

    &.active {

      a {
        color: $secondary-color;
        font-family: Roboto-Bold;
        border-bottom: 1px solid $secondary-color;
      }
    }

    a {
      color: $text-color;

      &:hover {
        color: $secondary-color;
        font-family: Roboto-Bold;
        border-bottom: 1px solid $secondary-color;
      }
    }
  }
}