// ---=== Stars ===---
.itt_rp-stars {

  .itt_rp-stars-rating-empty {
    position: relative;

    &:before {
      content: "\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006";
      font-family: FontAwesome;
      color: #ff6b40;
      font-size: 10px;
    }
  }

  .itt_rp-stars-rating {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    font-size: 10px;

    &:before {
      content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
      font-family: FontAwesome;
      color: #ff6b40;
      width: 80px;
    }
  }
}

.itt_star {
  &:before {
    content: "\f005";
    font-family: FontAwesome;
    color: #3c414c;
    font-style: initial;
  }
}


// Starbar
.itt_starbar {

  .itt_starbar-rating {
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
  }
}

.itt_sum-rate {
  font-size: 50px;
}