.itt_tabs {
  display: inline-flex;

  .itt_tab {

    a {
      border-bottom: 1px solid $border_color;
    }

    a:hover {
      border: none;
      color: $text-color;
      text-transform: uppercase;
      outline: 1px solid $secondary-color;
      padding: 10px;
    }

    &.active {

      a {
        border: none;
        color: $text-color;
        text-transform: uppercase;
        outline: 1px solid $secondary-color;
        padding: 10px;
      }
    }
  }
}

.itt_tab-panel {
  display: none;
}