// ---=== Line with text ===---
.itt_line-text {
  border-top: 1px solid #d8d8d8;
  position: relative;

  h2 {
    color: #515758;
    background-color: #fff;
    position: absolute;
    top: -20px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 30px;
  }
}