// ---=== Form ===---
.itt_form-control {
  padding: 10px 20px 10px 0;

  input {
    padding: 10px;
    width: 100%;
    border: 1px solid $dark_grey;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      border: 1px solid $secondary-color;
      transition: all 0.5s ease-in-out;
    }
  }

  textarea {
    width: 100%;
    height: 80px;
    border: 1px solid $dark_grey;
    padding: 10px;
    background-color: $textarea_bg;

    &:hover {
      color: $primary-color;
    }

    &:focus {
      border: 1px solid $secondary-color;
      transition: all 0.5s ease-in-out;
    }
  }
}

.itt_form-subscribe {
  position: relative;
  width: 250px;
  margin: 10px 0;

  input[type="text"] {
    background-color: transparent;
    border: 1px solid #04efef;
    padding: 8px;
    color: #fff;
    width: 100%;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #04efef;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #04efef;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #04efef;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #04efef;
  }

  input[type="submit"] {
    background: url("../../assets/images/samples/arrow_right.png") 100% 100% no-repeat;
    border: none;
    position: absolute;
    top: 5px;
    right: 0;
  }
}
