// ---===  Header Section ===---
.itt_head {
  min-height: 60px;
}

.itt_header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: $nav_bg_color;
}

.itt_header-opacity {
  transition: all 0.5s ease-in-out;
}

// Navigation
.itt_nav-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  height: 100%;

  .itt_nav-item {
    position: relative;

    .itt_link {
      color: $nav_link_color;
      text-decoration: none;
      padding: 22px 20px;
      font-size: 14px;
      margin: 0 auto;
      width: 100%;

      &.active {
        color: $nav_link_color_hover;
        background-color: $nav_link_bg_hover;
      }

      &:hover {
        color: $nav_link_color_hover;
        background-color: $nav_link_bg_hover;
      }
    }

  }
}

.itt_logo img {
  height: 30px;
}

.itt_logo-wrap {
  align-items: center;
  justify-content: center;
}

.itt_stick-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 16px;
  width: 50%;
  display: none;

  .itt_stick {
    border-right: 3px solid $secondary-color;
  }
}