.itt_news-logo-wrap {
  outline: 10px solid #04efef;
  position: relative;
  margin-top: 50px;

  .itt_news-logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.itt_news-date {
  color: #c5cfd0;
}

.itt_news-text-cont {
  padding: 0 100px;
}