// ---=== Recent Products ===---
.itt_special-products {
  text-align: center;

  .itt_special-products-wrap {
    width: 250px;
    padding: 25px;

    &:hover {
      outline: 10px solid #04efef;
      outline-offset: -10px;
      box-shadow: 1px 1px 2px 1px #d9d9d9;
    }

    .itt_img-wrap img {
      height: 340px;
    }

    .itt_title {
      color: #697577;

      span {
        padding-bottom: 10px;
        width: 200px;
      }
    }

    .itt_old-price {
      color: #d7d7d7;
      margin-top: 10px;
      text-decoration: line-through;
    }

    .itt_new-price {
      color: #697577;
      font-size: 25px;
      padding: 5px;
    }

    .itt_btns {
      visibility: hidden;

      .itt_btn-details {
        border-bottom: 1px solid #697577;

        a {
          color: #697577;
        }
      }

      .itt_btn-buy {
        border-bottom: 1px solid #ff6b40;

        a {
          color: #ff6b40;
        }
      }
    }

    &:hover {

      .itt_btns {
        visibility: initial;
      }

      .itt_new-price {
        color: #ff6b40;
      }
    }

  }
}


