// ---=== Default styles ===---

.row {
  margin-left: 0;
  margin-right: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid $border_color;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.itt_container {
  margin: 0 auto;
  position: relative;
}

.itt_container-little {
  margin: 0 auto;
  position: relative;
}

.itt_flex {
  display: flex;
}

.itt_row {
  flex-direction: row;
}

.itt_column {
  flex-direction: column;
}

.itt_flex-wrap {
  flex-wrap: wrap;
}

.itt_right {
  justify-content: flex-end;
}

.itt_left {
  justify-content: flex-start;
}

.itt_center {
  justify-content: center;
}

.itt_between {
  justify-content: space-between;
}

.itt_top {
  align-items: flex-start;
}

.itt_bottom {
  align-items: flex-end;
}


.itt_middle {
  align-items: center;
}

.itt_flex-1 {
  flex: 1;
}

.itt_flex-05 {
  flex: 0.5;
}

.itt_text-underline {
  text-decoration: underline;
}

@for $i from 1 through 10 {
  .itt_h-#{$i * 10} {
    height: $i * 10%;
  }

  .itt_w-#{$i * 10} {
    width: $i * 10%;
  }
}

:focus {
  outline: none;
}

.itt_upper-case {
  text-transform: uppercase;
}

// Font
  @for $i from 1 through 10 {
    .itt_font-size-#{$i * 10} {
      font-size: $i * 10px;
    }
  }

  .itt_text-left {
    text-align: left;
  }

  .itt_text-center {
    text-align: center;
  }

  .itt_text-right {
    text-align: right;
  }

  .itt_text-bold {
    font-weight: 700;
  }

  .itt_font-bold {
    font-family: Roboto-Bold;
  }

  .itt_font-light {
    font-family: Roboto-Light;
  }

// Borders
  @for $i from 1 through 10 {
    .itt_border_top-#{$i} {
      border-top: $i+px solid $border_color;
    }

    .itt_border_right-#{$i} {
      border-right: $i+px solid $border_color;
    }

    .itt_border_bottom-#{$i} {
      border-bottom: $i+px solid $border_color;
    }

    .itt_border_left-#{$i} {
      border-left: $i+px solid $border_color;
    }
  }


// Padding
  .itt_p-clear {
    padding: 0;
  }

  @for $i from 0 through 20 {
    .itt_pt-#{$i * 5} {
      padding-top: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_pr-#{$i * 5} {
      padding-right: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_pb-#{$i * 5} {
      padding-bottom: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_pl-#{$i * 5} {
      padding-left: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_padding-#{$i * 5} {
      padding: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_prl-#{$i * 5} {
      padding: 0 $i * 5px;
    }
  }


// Margins
  .itt_m-clear {
    margin: 0;
  }

  .itt_m-auto {
    margin: 0 auto;
  }

  @for $i from 0 through 20 {
    .itt_mt-#{$i * 5} {
      margin-top: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_mr-#{$i * 5} {
      margin-right: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_mb-#{$i * 5} {
      margin-bottom: $i * 5px;
    }
  }

  @for $i from 0 through 20 {
    .itt_ml-#{$i * 5} {
      margin-left: $i * 5px;
    }
  }

 .itt_section-fluid {
   margin: 100px 0 0 0;
 }

// Display
  .itt_show {
    display: block !important;
  }

  .itt_hidden {
    visibility: hidden;
  }

// ---=== COLORS ===---
  // bg colors
  .itt_bg-orange {
    background-color: $orange;
  }

  .itt_bg-green {
    background-color: $green;
  }

  .itt_bg-yellow {
    background-color: $yellow;
  }

  .itt_bg-violet {
    background-color: $violet;
  }

  .itt_bg-grey {
    background-color: $grey;
  }

  .itt_bg-light-grey {
    background-color: $light_grey;
  }

  .itt_bg-footer-top {
    background-color: $footer_top_bg;
  }

  .itt_bg-footer-bot {
    background-color: $footer_bot_bg;
  }

  .itt_bg-white {
    background-color: #fff;
  }

  .itt_bg-blue {
    background-color: $blue !important;
  }

  .itt_bg-primary {
    background-color: $primary-color;
  }

  // colors
  .itt_color-mega-yellow {
    color: $mega_yellow;
  }

  .itt_color-yellow {
    color: $yellow;
  }

  .itt_color-orange {
    color: $orange;
  }

  .itt_color-grey {
    color: $grey;
  }

  .itt_color-dark-grey {
    color: $dark_grey;
  }

  .itt_color-white {
    color: #fff;
  }
  
  .itt_subtitle-color {
    color: $text-color;
  }

  .itt_desc-color {
    color: $desc-color;
  }

//---=== Titles ===---
  @for $i from 1 through 10 {
    .itt_title-#{$i * 10} {
      font-size: $i * 10px;
    }
  }

  @for $i from 1 through 10 {
    .itt_subtitle-#{$i * 10} {
      font-size: $i * 10px;
    }
  }


// ---=== Border radius ===---
  @for $i from 1 through 10 {
    .itt_br-#{$i * 5} {
      border-radius: $i * 5px;
    }
  }

// Thumbs
.itt_img-100 {
  width: 100%;
}

// Link
.itt_link {
  
  &:hover {
    color: $link_hover;
  }
}

// --------======= ENDs DEFAULT STYLES =======---------




  // ---=== Crop images ===---
  .itt_crop {
    overflow: hidden;
    height: 370px;

    img {
      margin-top: -180px;
    }
  }

  .itt_cover-img {
    height: 23em;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .itt_cover-text {
    font-size: 50px;
  }

  // ---=== Filters
  .itt_darken {
    filter: brightness(50%);
  }


  // ---=== Blog ===---
  .itt_post-info {
    font-size: 12px;

    .itt_post-info-item:before {
      display: inline-block;
      content: "|";
      vertical-align: top;
      font-style: normal;
      margin: 0 0.6em;
    }

    .itt_post-info-item:nth-child(1):before {
      content: "";
      margin: 0;
    }
  }

  .itt_post-desc, .itt_comment-notes {
    color: $post_desc_color;
    line-height: 25px;
  }

  .itt_short-desc {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 30%;
    color: $short_desc_color;
    background-color: $short_desc_bg;
    opacity: 0.9;
    font-size: 18px;
    margin: 0;
  }


  // ---=== Single blog page ===---
  img.itt_author_avatar {
    width: 75px;
    border-radius: 50%;
  }

  // ---=== Footer ===---
  .itt_wrap-copyright {
    min-height: 75px;
  }


  // Category cards
  .itt_cat-card {
    height: 235px;
    margin-top: 20px;

    .itt_cat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 20px;
      color: #fff;

      &:hover {
        color: #04efef;
        outline: 10px solid #04efef;
        outline-offset: -10px;
        box-shadow: 1px 1px 2px 1px #d9d9d9;
        cursor: pointer;

        span {
          display: block;
        }
      }

      .itt_cat-card-title {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-family: Roboto-Bold;
        text-align: center;
      }

      span {
        display: none;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }

  footer {
    background-color: #07172a;

    .itt_link {
      color: #fff;
      border-bottom: 1px solid #fff;

      &:hover {
        color: #ff6b40;
        border-bottom: 1px solid #ff6b40;
      }
    }

    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-top: 1px solid #000f26;
    }

    .itt_socials {
      a:hover {
        .fa-stack-2x {
          color: #ff6b40;
        }
      }

      .fa-stack-2x {
        color: #fff;
      }

      .fa-stack-1x {
        color: #07172A;
      }
    }
  }

// Item color
.itt_item-color-wrap {

  .itt_item-color {
    border-radius: 50%;
    border: 1px solid $text-color;
    width: 30px;
    height: 30px;
    margin: 10px 25px;
  }
}




// Yura custom

// ---=== Blog ===---
.itt_post-info {
  font-size: 12px;

  .itt_post-info-item:before {
    display: inline-block;
    content: "|";
    vertical-align: top;
    font-style: normal;
    margin: 0 0.6em;
  }

  .itt_post-info-item:nth-child(1):before {
    content: "";
    margin: 0;
  }
}

.itt_post-desc, .itt_comment-notes {
  color: $post_desc_color;
  line-height: 25px;
}

.itt_short-desc {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 30%;
  color: $short_desc_color;
  background-color: $short_desc_bg;
  opacity: 0.9;
  font-size: 18px;
  margin: 0;
}

// ---=== Single blog page ===---
img.itt_author_avatar {
  width: 75px;
  border-radius: 50%;
}

// ---=== Footer ===---
.itt_wrap-copyright {
  min-height: 75px;
}

// ---=== Owl carousel ===---
.itt_carousel-wrap {
  background-color: #000f26;
  height: 115px;
  cursor: ew-resize;
}

.owl-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 115px;
}

//---===404===---
.itt_tool {
  font-family: Roboto-Bold;
  font-size: 180px;
  color: #000F26;

}

.itt_not-found {
  font-family: Roboto-Bold;
  font-size: 25px;
  color: #697577;
}

.itt_sorry {
  font-family: Roboto-Light;
  font-size: 20px;
  color: #697577;

}

.itt_interest {
  font-size: 30px;
  font-family: Roboto-Bold;
  margin-top: 5%;
  color: #697577;
}

//footer

#search .input {
  width: 183px;
  height: 28px;
  padding: 0 37px 1px 15px;
  background: #006aee;
  color: #05EEFD;
  float: left;
  border-color: #05EEFD;

}

#search .submit {
  width: 38px;
  height: 29px;
  cursor: pointer;
  margin-left: -37px;
  background: none;
  border: none;
  color: #05EEFD;
}

.blog {
  background-color: #F4FCFD;
}

.itt_popular-content {
  border-right: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  padding: 20px;
  line-height: 25px;
  color: #605F5F;
  box-shadow: 1px 8px 18px #E3E3E3;
}

.itt_popular-img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -46px;
  left: 30%;
}

.itt_wrap-popular-img {
  width: 120px;
  height: 49px;
  position: relative

}

.itt_date-wraper {
  margin-right: 16px;
}

ul.itt_categories-nav {

  li {
    padding: 0 50px;

    a {
      cursor: pointer;
      color: #000;
      text-decoration: none;
      padding: 10px;
      width: 100%;
      display: block;

      &:hover {
        outline: 2px solid $secondary-color;
      }
    }
  }
}

.itt_avatar-smal {
  border-radius: 50%;
  margin-left: 20px;
  width: 50px;
}

.itt_avatar-text {
  margin-left: 5%;
}

.itt_blog-btn {
  float: right;
  border: none;
  background: none;
  text-decoration: underline;
  color: #979EA0;
}

.woocommerce-pagination ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 50px;

  .current {
    color: $secondary-color;
  }
}

.itt_pages {
  display: flex;
  margin-bottom: -34px;
  justify-content: center;
  margin-right: 158px;
}

@media screen and (max-width: 320px) {
  .itt_popular-img {
    left: 11%;
  }
}

.itt_blog-avatar {
  width: 100px;
  height: 100px;

}


.itt_blog-buttons a {
  border: 1px solid #DDDDDD;
  width: 100%;
  text-align: center;
  display: block;
  padding: 5px 30px;
  background-color: #F4FCFD;
  min-width: 0px;
}

.itt_tag-item {
  margin: 0 20px;
  display: flex;
}

.itt_blog-buttons {
  padding-bottom: 50px;
}

@media screen and (max-width: 320px) {
  .itt_blog-buttons {
    flex-direction: column;
  }
}

.itt_related-news {
  box-shadow: 1px 5px 25px #E3E3E3;
}

.itt_blog-contact {
  width: 100%;
  height: 35px;
  margin-top: 10px;

  &:focus {
    outline: 2px solid $secondary-color;
  }

}

.itt_blog-message {
  width: 100%;
  height: 105px;
  border: 1px solid #BFBFBF;

  &:focus {
    outline: 2px solid $secondary-color;
  }

}