@font-face {
  font-family: Roboto-Thin;
  src: url(../font/Roboto-Thin.woff);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.woff);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.woff);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.woff);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.woff);
}

body {
  font-family: "Roboto-Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li, a, span, div {
  -webkit-font-smoothing: antialiased;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}