// Colors
$orange: #FF9600;
$orange_toxic: #ff6b40;
$green: #AECC00;
$yellow: #FECF2A;
$violet: #411867;
$light_grey: #FAFAFA;
$grey: #F4F4F4;
$dark_grey: #b9babd;
$mega_yellow: #fcff00;
$cyan: #5cb9bc;
$blue: #f4fcfd;
// ----------------------


// Theme colors
$primary-color: #3c414c;
$secondary-color: #04efef;
$text-color: #697577;
$desc-color: #282828;

// Navigation color
$nav_bg_color: #07172a;
$nav_link_color: #fff;
$nav_link_color_hover: $secondary-color;
$nav_link_color_hover_mobile: #fff;
$nav_link_bg_hover: transparent;
$search_link_color: #fff;
$search_link_color_hover: $primary-color;


// Arrow to top
$arrow_color: $primary-color;
$arrow_bg: $primary-color;

// Btns
$btn_default: $orange_toxic;
$btn_default_bg: #fff;

$btn_primary: #fff;
$btn_primary_bg: $primary-color;

$btn_hover: $primary-color;


// Link
$link_hover: $primary-color;

// Footer BG
$footer_top_bg: #3c414c;
$footer_bot_bg: #282c33;


// Titles color
$cat_title_color: #fff;

// Post description color
$post_desc_color: #8d9091;
$short_desc_color: #fff;
$short_desc_bg: transparent;

// Border
$border_color: #e0e0e0;

// Breadcrumb
$breadcrumb-color: $text-color;
$breadcrumb-bg: $primary-color;

// Forms
$input_bg: transparent;
$textarea_bg: transparent;
$search_field_focus: transparent;

// Status color
$success: #27BA6C;
$info: #03a9f4;
$warning: #FF8833;
$danger: #ff1a1a;

// Socials
$social_color: $orange_toxic;