.itt_contact-form{
  width: 100%;
  height: 35px;
  margin-top: 10px;

  &:focus {
    outline: 2px solid $secondary-color;
  }
}
.itt_container-small{
  max-width: 790px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.itt_message-form{
  width: 100%;
  height: 105px;
  border: 1px solid #BFBFBF;

  &:focus {
    outline: 2px solid $secondary-color;
  }
}

.itt_message-btn{
  float: right;
  border: none;
  background: none;
  color: $orange_toxic;
  text-decoration: underline;
  cursor: pointer;
}
.shadow {
  box-shadow: 13px 38px 18px #E3E3E3;
  border-radius: 58%;
  width: 15%;
  margin-left: 42%;
  margin-top: -3%;
  margin-bottom: 5%;
  color: white;
}